/* Default styles for React Awesome Countdown Timer */

.react-countdown-timer {
  display: flex;
  justify-content: space-around;
  column-gap: 5px;
}

.react-countdown-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  border-radius: 7px;
}

.react-countdown-time {
  color: white;
  font-size: 74px;
  line-height: normal;
  padding: 5px 10px;
}

.react-countdown-label {
  font-size: 22px;
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  color: #000;
  font-weight: 100;
  height: 100%;
  align-items: center;
}
